<div class="container">
	<h1>Song Info: </h1>
	<div>
		<div class="fullList">
		<h2>My Songs </h2>
			<div class="list" ng-repeat="song in ctrl.selectedSongs">
				<span>Song Name: </span><span ng-bind="song.title"></span>
				<br>
				<span>Album: </span><span ng-bind="song.album"></span>
				<br>
				<span>Artist: </span><span ng-bind="song.artist"></span>
				<br>
				<span>Video: </span><a href="{{song.video}}" target= "_blank"><span>Click Here to Watch Video</span></a>
				<!-- <video src="http://www.youtube.com/watch?v=GJ26gAc7BtU"></video> -->
				<br>
				<br>
			</div>
		</div>
 	</div>
</div>